#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 5px 5px 0;
    border: 1px solid #f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    line-height: 40px;
    background: #fafafa;
}

.capslock,
.tab,
.left-shift {
    clear: left;
}

#keyboard .tab,
#keyboard .delete {
    width: 70px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 77px;
}

#keyboard .left-shift {
    width: 95px;
}

#keyboard .right-shift {
    width: 109px;
}

.lastitem {
    margin-right: 0;
}

.lastitem + li {
    clear: left;
}

.uppercase {
    text-transform: uppercase;
}

#keyboard .space {
    clear: left;
    width: 681px;
}

.on {
    display: none;
}

#keyboard li:hover {
    position: relative;
    background-color: #f7f7f7;
    cursor: pointer;
}

#keyboard .category {
    width: 92px;
    background-color: #eee;
    pointer-events: none;
}